@{
    ViewData["Title"] = "Home Page";
}
@section scripts
{
    <script src="/js/Ahorcado/HangmanVM.js"></script>
}
 
<div class="text-center">
    <div style="text-align: center; margin-top: 80px; margin-bottom:20px; font-size:xx-large">
        <h1>Metodologías Ágiles</h1>
    </div>
    <div style="text-align: center; margin-top: 40px;">
        <h2>Andrés Joaquín y Patricio Cullen</h2>
        <h3>Grupo 8<h3>
        <h3>2024</h3>
        <br />
        <p>Fernández Cariaga Ezequiel</p>
        <p>Gallina Gino</p>
    </div>
    <br />
    <div style="margin-top: 40px;">
        <a href="/ahorcado" class="btn btn-primary">Jugar</a>
    </div>

</div>
