@{
    ViewData["Title"] = "Home Page";
}
@section scripts
{
    <script src="~/~/Scripts/Ahorcado/HangmanVM.js"></script>
}
 

<div class="text-center">
    <h1 class="display-4">Bienvenido!!</h1>
</div>
